.schedule{
    width:100%;
}
.schedule .btn{
    margin:15px 0 0 15px;
    color: #fff;
    width: 90px;
    height: 35px;
    background: #009688;
    border: none;
}
.schedule .work{
    float:left;
    width:320px;
    background:#fff;
    padding:15px;
    margin:15px 0 0 15px;
    border-radius:5px;
}
.work h5{
    font-size:18px;
    font-weight:600;
}
.work div{
    width:100%;
    line-height:40px;
}
.work div span{
    display:inline-block;
}
.work div span:nth-of-type(1){
    width:90px;
    text-align:left;
}
